.container {
    display: flex;
    width: 300px;
    height: 100px;
}

.item1 {
    width: 100px;
    background-color: lightpink;
}

.item2 {
    width: 200px;
    background-color: lightblue;

    display: flex;
    flex-direction: column;
}

.row1 {
    height: 50px;

    display: flex;
    align-items: center;
}

.row2 {
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}