body {
    font-family: Arial;
}

.email-container {
    width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.inbox {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.email {
    display: flex;
}

.profile {
    width: 50px;
    margin-right: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.email-details {
    flex: 1;
}

.email-header {
    display: flex;
    justify-content: space-between;
}

.sender {
    font-weight: bold;
}

.time {
    color: #777;
    font-size: 13px;
}

.subject {
    font-weight: bold;
    margin-top: 5px;
}

.message {
    color: #777;
    margin-top: 5px;
}